.main {
    width: 33%;
    margin-left: 34%;
    margin-top: 4.4%;
    min-height: 200px;
    border-radius: 1%;
    box-shadow: 0 8px 16px;
    // border: 1px solid rgb(185, 175, 175);
}

.main_block {
    // border: 1px solid rgb(43, 255, 0);
    padding: 3% 8% 15%;

}

.logo {
    width: 32%;
    margin-left: 35%;
    margin-top: 11%;
    margin-bottom: 1.7%;
    // border: 2px solid rgb(43, 241, 36);
}

.top {
    text-align: center;
    // border: 2px solid rgb(213, 250, 3);
}

.title {
    margin-bottom: 5%;
}

// .mail {
//     // border: 2px solid rgb(7, 3, 250);

// }

.Password {
    margin-bottom: 10%;
}

.input_box {
    width: 100%;
    // border: 2px solid rgb(205, 250, 3);

}

.action {
    width: 100%;
    margin-top: 15%;
    // border: 2px solid rgb(205, 250, 3);
    display: flex;

}

.fpass {
    width: 100%;
    // border: 2px solid rgb(7, 3, 250);
}

.login {
    margin-left: 40%;
    // border: 2px solid rgb(0, 0, 0);
}