<div id="Main" class="main">
    <img src="assets\Pictures\Logo2.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <form [formGroup]="resetPassword">
            <div class="top">
                <mat-card-title class="title">Reset Password</mat-card-title>
                <p>Set your new password
                </p>
            </div>
            <div class="newp">
                <mat-form-field appearance="outline" class="input_box">
                    <mat-label>Enter new password</mat-label>
                    <input matInput placeholder formControlName="password">
                    <mat-error>Enter correct password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="input_box">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder formControlName="confirmPassword">
                    <mat-error>Enter correct password</mat-error>
                </mat-form-field>
            </div>
            <div class="reset">
                <button mat-flat-button color="primary" (click)="SetPassword()">Set Password</button>
            </div>
        </form>
    </mat-card>
</div>